input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.scinder{
  display: flex;  
  justify-content: space-around;
  height: 100%;
  position: fixed;
  width: 100%;
  flex: 1;
}

.imageDiv{
  flex: 0.5;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
p{
  padding: 15px;
}
img{
  height: 543px;
  width: 604px;
  object-fit: fill;
}
.textDiv{
  flex: 0.5;
  display: flex;
  align-items: center;
  flex-direction: column;
}